<!-- <div class="team-edit">
    <h1>{{title}}</h1>

    <p *ngIf="id && !team"><em>Loading...</em></p>
    <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group col-md-6">
            <label for="name">Team name...</label>
            <br />
            <input type="text" id="name" class="form-control" formControlName="name" required
                placeholder="Enter name here...">
            <br />

            <label for="dateOfFoundation">Team date of foundation...</label>
            <br />
            <div class="input-group date" data-provide="datepicker" required>
                <input type="text" id="dateOfFoundation" class="form-control">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
             <input type="text" id="dateOfFoundation" class="form-control" formControlName="dateOfFoundation" required>
            <br /> -->
            <!-- <label for="code">Owner name ...</label>
            <br />
            <input type="text" id="ownerName" class="form-control" formControlName="ownerName" required
                placeholder="Enter owner name here...">
            <br />
            <label for="nationality">Championship points...</label>
            <br />
            <input type="text" id="championShipPoints" class="form-control" formControlName="championShipPoints" required
                placeholder="Enter championship points here...">
        </div> -->

        <!-- <div class="form-group col-md-6" *ngIf="teams">
            <label for="Teams">Team:</label>
            <br />
            <select id="teamId" formControlName="teamId" class="form-control">
                <option value="">Select a Team....</option>
                <option *ngFor="let team of teams" [value]="team.id">{{team.name}}</option>
            </select>
        </div> -->

        <!-- <div class="form-group">
            <button type="submit" class="btn btn-default" [routerLink]="['/teams']"> Cancel </button>
            <button *ngIf="id" type="submit" class="btn btn-success" (click)="onSubmit()"> Save </button>
            <button *ngIf="!id" type="submit" class="btn btn-success" (click)="onSubmit()">Create new Team</button>
        </div>
    </div>
</div> -->