<p>Pilots in Formula 1</p>
<p *ngIf="!pilots"><em>Loading...</em></p>

<div *ngIf="pilots">
    <table mat-table [dataSource]="pilots" class="mat-elevation-z8">
        <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let pilot"> {{pilot.pilotId}} </td>
        </ng-container>
        <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let pilot"> {{pilot.name}} </td>
        </ng-container>
        <ng-container matColumnDef="Number">
            <th mat-header-cell *matHeaderCellDef> Number </th>
            <td mat-cell *matCellDef="let pilot"> {{pilot.number}} </td>
        </ng-container>
        <ng-container matColumnDef="Code">
            <th mat-header-cell *matHeaderCellDef> Code </th>
            <td mat-cell *matCellDef="let pilot"> {{pilot.code}} </td>
        </ng-container>
        <ng-container matColumnDef="Nationality">
            <th mat-header-cell *matHeaderCellDef> Nationality </th>
            <td mat-cell *matCellDef="let pilot"> {{pilot.nationality}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSize]="10"
    [pageSizeOptions]="[10, 20, 50]"
    showFirstLastButtons></mat-paginator>
</div>