<!-- <p hidden="!dataSource">Loading...</p>

<mat-form-field [hidden]="!dataSource">
    <input matInput placeHolder="Filter by Name..." (keyup)="loadData($event.target.value)">
</mat-form-field>

<table [hidden]="!dataSource" mat-table matSort (matSortChange)="loadData()" matSortActive="{{defaultSortColumn}}"
    matSortDirection="{{defaultSortOrder}}" [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let team"> {{team.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let team">
            <a [routerLink]="['/teams', team.id]"> {{team.name}} </a></td>
    </ng-container>

    <ng-container matColumnDef="DateOfFoundation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of Fundation </th>
        <td mat-cell *matCellDef="let team"> {{team.dateOfFoundation}} </td>
    </ng-container>

    <ng-container matColumnDef="OwnerName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner Name </th>
        <td mat-cell *matCellDef="let team"> {{team.ownerName}} </td>
    </ng-container>

    <ng-container matColumnDef="ChampionShipPoints">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Championship Points </th>
        <td mat-cell *matCellDef="let team"> {{team.championShipPoints}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator [hidden]="!dataSource" [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" (page)="getTeams($event)">
</mat-paginator> -->