<div class="pilot-edit">
    <h1>{{title}}</h1>

    <p *ngIf="this.id && !pilot"><em>Loading...</em></p>
    <div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">

        <div *ngIf="form.invalid && form.errors?.CheckNameExists" class="alert alert-danger">
            <strong>ERROR</strong>
            A pilot with the same <i>name</i> already exists!
        </div>

        <div class="form-group col-md-6">
            <label for="name">Pilot name...</label>
            <br />
            <input type="text" id="name" class="form-control" formControlName="name" required
                placeholder="Enter name here..." />

            <div *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)"
                class="invalid-feedback">
                <div *ngIf="form.get('name').errors?.required">
                    Name is required!
                </div>
            </div>
        </div>
        <br />

        <div class="form-group col-md-6">
            <label for="number">Pilot number...</label>
            <br />
            <input type="number" id="number" class="form-control" formControlName="number" required
                placeholder="Enter number here..." />

            <div *ngIf="form.get('number').invalid && (form.get('number').dirty || form.get('number').touched)"
                class="invalid-feedback">
                <div *ngIf="form.get('number').errors?.required">
                    Number is required!
                </div>
            </div>
            <br />
        </div>

        <div class="form-group col-md-6">
            <label for="code">Pilot code...</label>
            <br />
            <input type="text" id="code" class="form-control" formControlName="code" required maxlength="3"
                placeholder="Enter code here...">

            <div *ngIf="form.get('code').invalid && (form.get('code').dirty || form.get('code').touched)"
                class="invalid-feedback">
                <div *ngIf="form.get('code').errors?.required">
                    Code is required!
                </div>
            </div>
        </div>
        <br />

        <div class="form-group col-md-6">
            <label for="nationality">Pilot nationality...</label>
            <br />
            <input type="text" id="nationality" class="form-control" formControlName="nationality" required
                placeholder="Enter nationality here...">

            <div *ngIf="form.get('nationality').invalid && (form.get('nationality').dirty || form.get('nationality').touched)"
                class="invalid-feedback">
                <div *ngIf="form.get('nationality').errors?.required">
                    Nationality is required!
                </div>
            </div>
        </div>
        <br />

        <div class="form-group col-md-6">
            <label for="Teams">Teams:</label>
            <br />

            <mat-form-field *ngIf="teams">
                <mat-label>Select a team...</mat-label>
                <mat-select id="teamId" formControlName="teamId">
                    <mat-option *ngFor="let team of teams" [value]="team.id">{{team.name}} </mat-option>
                </mat-select>
            </mat-form-field>

            <div *ngIf="form.get('teamId').invalid && (form.get('teamId').dirty || form.get('teamId').touched)"
                class="invalid-feedback">
                <div *ngIf="form.get('teamId').errors?.required">
                    Select a Team!
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default" [routerLink]="['/pilots']"> Cancel </button>
            <button *ngIf="id" type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="form.invalid">
                Save </button>
            <button *ngIf="!id" type="submit" class="btn btn-success" (click)="onSubmit()"
                [disabled]="form.invalid">Create new Pilot</button>
        </div>
    </div>
</div>