<h2>{{ title }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput id="name" formControlName="name" required />
    <mat-error *ngIf="form.get('name')?.hasError('required')"> Name is required. </mat-error>
  </mat-form-field>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Number</mat-label>
      <input matInput id="number" formControlName="number" required />
      <mat-error *ngIf="form.get('number')?.hasError('required')"> Number is required. </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Code</mat-label>
      <input matInput id="code" formControlName="code" />
      <mat-error *ngIf="form.get('code')?.hasError('required')"> Code is required. </mat-error>
      <mat-error *ngIf="form.get('code')?.hasError('maxlength')">
        Code cannot exceed 3 characters.
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Nationality</mat-label>
      <input matInput id="nationality" formControlName="nationality" required />
      <mat-error *ngIf="form.get('nationality')?.hasError('required')">
        Nationality is required.
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Team</mat-label>
      <mat-select formControlName="teamId" required>
        <mat-option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('teamId')?.hasError('required')"> Team is required. </mat-error>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
  <button mat-button type="button" routerLink="/pilots">Cancel</button>
</form>
